#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $ctx.args.createStudentInput.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createStudentInput[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO Student $colStr VALUES $valStr", "SELECT * FROM Student ORDER BY rollNum DESC LIMIT 1"]
}