#set( $updateList = {} )
#foreach( $entry in $ctx.args.updateSelectedSubjectInput.keySet() )
  #set( $discard = $updateList.put($entry, "'$ctx.args.updateSelectedSubjectInput[$entry]'") )
#end
#set( $update = $updateList.toString().replace("{","").replace("}","") )
{
  "version": "2018-05-29",
  "statements":   ["UPDATE SelectedSubject SET $update WHERE SR=$ctx.args.updateSelectedSubjectInput.SR}", "SELECT * FROM SelectedSubject WHERE SR=$ctx.args.updateSelectedSubjectInput.SR"]
}