#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $ctx.args.createMarksInput.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createMarksInput[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO Marks $colStr VALUES $valStr", "SELECT * FROM Marks WHERE SR=$ctx.args.createMarksInput.SR"]
}