#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $ctx.args.createSubjectsInput.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createSubjectsInput[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO Subjects $colStr VALUES $valStr", "SELECT * FROM Subjects WHERE code=$ctx.args.createSubjectsInput.code"]
}